.parts_title {
  margin-left: 30px;
}

h1.parts_title {
  margin-bottom: 0;
}

h2.parts_title {
  margin-top: 0;
}

h2.no_encontrado {
  text-align: center;
  color: rgb(236,50,55);
}

th.paginate_table a {
  padding: 0 20px;
}

td.admin_button {
  cursor: pointer;
  transition: .3s;
}

td.edit:hover {
  background-color: rgb(80, 80, 251);
}

td.delete:hover {
  background-color: rgb(251, 197, 80);
}