{% extends 'layouts/layout.html' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/parts.css') }}">
{% endblock %}

{% block content %}
  <main>
    <h1 class="parts_title">Bievenido, administrador {{ current_user.fullname }}!</h1>
    <h2 class="parts_title">Estos son los repuestos para poder administrar</h2>
    {% if data.parts|length == 0 %}
      <h2 class="no_encontrado">No hay o no se encuentran los productos solicitados...</h2>
    {% else %}
      <table>
        <thead>
          <tr>
            <th colspan="8" class="paginate_table">
              <a href="/">
                Primera pagina
              </a>
              <a href="{% if request.args.get('page') != None and request.args.get('page')|int != 1 %} /?page={{ (request.args.get('page')|int or 1) - 1 }} {% else %} / {% endif %} ">
                Anterior pagina
              </a>
              <span>
                {{ (request.args.get('page')|int or 1) * 29 }} de {{ data.parts_len }}
              </span>
              <a href="{% if request.args.get('page')|int != 46 %} /?page={{ (request.args.get('page')|int or 1) + 1 }} {% endif %}">
                Siguiente pagina
              </a>
              <a href="/?page=46">
                Ultima pagina
              </a>
            </th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for part in data.parts %}
            <tr>
              <td>{{ part.id }}</td>
              <td>{{ part.code }}</td>
              <td>{{ part.description }}</td>
              <td>{{ part.brand.name }}</td>
              <td>{{ part.price }}$</td>
              <td>{{ part.category.name }}</td>
              <td class="admin_button edit">
                ✏️
              </td>
              <td class="admin_button delete">
                🗑️
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </main>
{% endblock %}